.banner {
    display: flex;
    justify-content: center;
    /* border: 2px solid; */
    background: rgba(229, 84, 115, 0.10);
    height: 70vh;
}

.first-flower {
    width: 350px;
    height: 430px;
    padding-top: 20px;
 
   


}

.half-width {
    width: 550px;
    
}

.img-box {
    justify-content: center;
    display: flex;
    margin-top: 10px;
}

.text-box {
    padding-top: 70px;
   padding-right: 20px;
}

.btn-primary {
    background: #E55473;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: white;
}

.more-picture {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 15px;
    

}

.description {
    text-align: center;
    margin-top: 50px;
}




.pic-title {
    text-align: center;
    text-decoration: underline;
   
    
}

.bg-color-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 250px;
    height: 300px;
    

}

.bg-color-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 250px;
    height: 300px;
    
    
}

.bg-color-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 250px;
    height: 300px;
    
    
}
.size{
    width: 150px;
    height: 250px;
    padding: 50px 50px;
}
.hot-deal{
    border: 1px solid;
    display: flex;
    background: rgba(229, 84, 115, 0.05);
    width: 1335px;
    height: 350px;

}
.red-rose{
    width: 200px;
    height: 250px;
    padding-right: 350px;
    padding-top: 40px;
}
.hot-deal-text{
   
   text-align: center;
   padding-left: 270px;
   padding-top: 80px;
   padding-right: 40px;
}
#discount{
    color: #E55473;
}